<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<body>
    <h1> Cars </h1>
    <nav>
        <a href="/">index</a>
        <a href="/Car">Car</a>
        <a href="/Customer">Customer</a>
        <a href="/Employee">Employee</a>
        <a href="/Invoice">Invoice</a>
        <a href="/Waitlist">Waitlist</a>
  </nav>
    <div id="browse" style="display: block">

        </div> <!-- browse -->
        <p>&nbsp;</p>
        <div id="insert" style="display: block">
            <!--<form id="addCar"> -->
            <form id="addCar" method="POST" action="/addCar">
                <legend><strong>Add Car</strong></legend>
                  <fieldset class="fields">
                    {{!--<label> id </label> <input type="number" name="carid">--}}
                    <label> price </label> <input type="number" name="price">
                    <label> brand </label> <input type="text" name="brand">
                    <label> model </label> <input type="text" name="model">
                    <label> year </label> <input type="number" name="year">
                    <label> color </label> <input type="text" name="color">

                </fieldset>
                  <input class="btn" type="submit" id="addCar" value="Add a Car">
            </form> 
        </div><!-- insert -->
        <p>&nbsp;</p>


        <!--update car -->
        <div id="insert" style="display: block">
            <!--<form id="addCar"> -->
            <form id="updateCar">
                <legend><strong>Update Car</strong></legend>
                  <fieldset class="fields">
                    <label for="select-id"> id </label> 
                    <select name="select-id" id="mySelect">
                      <option value="test">Select a car ID</option>
                      {{#each data}}
                      <option value="{{this.id}}">{{this.id}}</option>
                      {{/each}}
                    </select>
                    <label> price </label> <input type="number" name="price">
                    <label> brand </label> <input type="text" name="brand">
                    <label> model </label> <input type="text" name="model">
                    <label> year </label> <input type="number" name="year">
                    <label> color </label> <input type="text" name="color">

                </fieldset>
                  <input class="btn" type="submit" id="updateCar" value="Update Car">
            </form> 
            <script src="./js/update_car.js"></script>
        </div><!-- insert -->
        <p>&nbsp;</p>
        
        <p><strong>Browse Cars</strong></p>

        {{!-- Create a table --}}
        <table border="1", cellpadding="5" id = "car-table">
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>
                {{#each data}}
                <tr data-value={{this.id}}>
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                <td><a onclick="Delete({{this.id}})" href="#">Delete</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>




</body>

<script src="./js/delete_car.js"></script>
