<body>
    <h1> Invoice </h1>
    <nav>
        <a class="navitem" href="/">Home</a>
        <a class="navitem" href="/Car">Car</a>
        <a class="navitem" href="/Customer">Customer</a>
        <a class="navitem" href="/Employee">Employee</a>
        <a class="navitem" href="/Invoice">Invoice</a>
        <a class="navitem" href="/Waitlist">Waitlist</a>
    </nav>

        
        
        <p>&nbsp;</p>

    <!--update car -->
    <div id="updateInvoiceTable" style="display: block">

        <form id="updateinvoice" action = "/update-invoice" method="POST">
            <legend><strong>Update Invoice (c_id -> customer_id,  e_id -> employee_id)</strong></legend>
                <fieldset class="fields">
                <label for="select_id"> id </label> 
                <select name="select_id" id="mySelect">
                    <option value="test">Select a invoice ID</option>
                    {{#each data}}
                    <option value="{{this.id}}">{{this.id}}</option>
                    {{/each}}
                </select>
                <label> c_id </label> <input type="text" name="c_id">
                <label> car_id </label> <input type="text" name="car_id">
                <label> e_id </label> <input type="text" name="e_id">
                <label> date_sale (will be applied by current time) </label>

            </fieldset>
                <input class="btn" type="submit" id="updateInvoice" value="Update Invoice">
        </form> 

    </div>
        
        <p>&nbsp;</p>
        <!-- First Block -->
        <p><strong>Browse Invoice</strong></p>
        <p2>Here are all transaction records.</p2>

        {{!-- Create a table --}}
        <table border="1", cellpadding="5" id = "invoice-table">
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>
                {{#each data}}
                <tr data-value={{this.id}}>
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                    <td><a onclick="Delete({{this.id}})" href="#">Delete</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

<script src="./js/delete_invoice.js"></script>
